<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.12.3, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="~/images/iasd-60x60.png" type="image/x-icon">
    <meta name="description" content="">

    <link rel="stylesheet" href="~/css/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/css/facebook-plugin/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/css/tether/tether.min.css">
    <link rel="stylesheet" href="~/css/socicon/css/styles.css">
    <link rel="stylesheet" href="~/css/dropdown/css/style.css">
    <link rel="stylesheet" href="~/css/theme/css/style.css">
    <link rel="preload" as="style" href="~/css/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="~/css/mobirise/css/mbr-additional.css" type="text/css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agenda.App</title>

</head>
<body>
    <header>
        <section class="menu cid-rZX4kI0rUG" once="menu" id="menu2-1">
            <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                    </div>
                </button>
                <div class="menu-logo">
                    <div class="navbar-brand">
                        <span class="navbar-logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/images/iasd-60x60.png" alt="Mobirise" title="" style="height: 3.8rem;">
                            </a>
                        </span>
                        <span class="navbar-caption-wrap">
                            <a class="navbar-caption text-black display-4" href="#">
                                Portal de Eventos
                            </a>
                        </span>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </section>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <section class="cid-rZX9KNI1EG" id="footer2-5">





            <div class="container">
                <div class="media-container-row content mbr-white">
                    <div class="col-12 col-md-3 mbr-fonts-style display-7">
                        <p class="mbr-text">
                            <strong>Endereço</strong>
                            <br>
                            <br>Rua Coronel Bento José de Carvalho, 340
                            <br>03516-010 Vila Matilde, São Paulo - SP
                            <br><br>
                            <br><strong>Contato</strong><br>(11) 2129-2700<br>
                        </p>
                    </div>
                    <div class="col-12 col-md-3 mbr-fonts-style display-7">
                        <p class="mbr-text"></p>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.845839345674!2d-46.52653658502265!3d-23.538046484694505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5e1acf4f7485%3A0xe55057fac2a72012!2sR.%20Cel.%20Bento%20Jos%C3%A9%20de%20Carvalho%2C%20340%20-%20Vila%20Matilde%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2003516-010!5e0!3m2!1spt-BR!2sbr!4v1590364632213!5m2!1spt-BR!2sbr" allowfullscreen=""></iframe></div>
                    </div>
                </div>
                <div class="footer-lower">
                    <div class="media-container-row">
                        <div class="col-sm-12">
                            <hr>
                        </div>
                    </div>
                    <div class="media-container-row mbr-white">
                        <div class="col-sm-6 copyright">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Copyright © 2013-2017
                                <br>Igreja Adventista do Sétimo Dia
                                <br>Todos os direitos reservados
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="social-list align-right">
                                <div class="soc-item">
                                    <a href="https://twitter.com/mobirise" target="_blank">
                                        <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                        <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                        <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://instagram.com/mobirise" target="_blank">
                                        <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                        <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                </div>
                                <div class="soc-item">
                                    <a href="https://www.behance.net/Mobirise" target="_blank">
                                        <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <script src="~/js/web/assets/jquery/jquery.min.js"></script>
    <script src="~/js/popper/popper.min.js"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5"></script>
    <script src="https://apis.google.com/js/plusone.js"></script>
    <script src="~/js/facebook-plugin/facebook-script.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/smoothscroll/smooth-scroll.js"></script>
    <script src="~/js/tether/tether.min.js"></script>
    <script src="~/js/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="~/js/ytplayer/jquery.mb.ytplayer.min.js"></script>
    <script src="~/js/vimeoplayer/jquery.mb.vimeo_player.js"></script>
    <script src="~/js/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/js/dropdown/js/nav-dropdown.js"></script>
    <script src="~/js/dropdown/js/navbar-dropdown.js"></script>
    <script src="~/js/theme/js/script.js"></script>
    <script src="~/js/slidervideo/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
